*{
    user-select: none;
    overflow: hidden;
}
body{
    background: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.menuButton{
    width: 15%;
    height: 10%;
    margin-top: 2%;
    border: none;
    cursor: pointer;
}
#logo{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 2%;
}
#menu{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 43%;
    top: 40%;
}
p{
    width: 100%;
    font-size: 100%;
    height: 5%;
}
#startMenu{
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: none;
    font-size: 2vw;
    position: absolute;
    top: 25vw;
    left: 25vw;
}
#input{
    width: 40vw;
    height: 3vw;
    font-size: 3vh;
    border: none;
}
#select{
    width: 15vh;
    height: 4vh;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}
#startMenu div{
    max-width: 100vh;
}
#statsMenu{
    height: 75vh;
    width: 150vh;
    position: absolute;
    left: 90vh;
    top: 20vh;
    display: none;
}
#statsMenu div div{
    display: flex;
    align-items: center;
    width: 100%;
}
#statsMenu div img{
    margin-right: 2vh;
    width: 4vh;
}
.upgrade{
    font-size: 2vh;
}
#point{
    font-size: 4vh;
}
#select2{
    width: 10vw;
    height: 2vw;
    font-size: 2vh;
    border: none;
    cursor: pointer;
}
.add{
    border: none;
    cursor: pointer;
}
.unadd{
    border: none;
    cursor: pointer;
}
#character{
    margin-top: 2.5vh;
    width: 30%;
    height: 95%;
}
#lore{
    display: none;
}
#lore img{
    position: absolute;
    z-index: -1;
    height: 50vh;
    width: 50vw;
    bottom: 0;
    left: 24%;
}
#lore p{
    bottom: 5vh;
    left: 33vw;
    position: absolute;
    width: 35vw;
    height: 30vh;
    font-size: 3vh;
    text-align: center;
}
#lore button{
    position: absolute;
    bottom: 20vh;
    right: 15vw;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
}
.scene{
    display: none;
}
.scene img:first-child{
    position: absolute;
    top: 45vh;
    left: 58vw;
    height: 20vh;
}
.scene img:nth-child(4){
    position: absolute;
    top: 45vh;
    left: 68vw;
    height: 20vh;
}
.next{
    position: absolute;
    width: 10vw;
    height: 15vh;
    bottom: 2vh;
    right: 1vw;
    font-size: 6vh;
}
.text{
    width: 100%;
    height: 20vh;
    background-color: bisque;
    position: absolute;
    bottom: 0;
    font-size: 5vh;
}
.scene img:nth-child(2){
    position: absolute;
    bottom: -25vh;
    height: 68vh;
    display: none;
}
.scene img:nth-child(3){
    position: absolute;
    bottom: -25vh;
    height: 68vh;
    right: 0;
    display: none;
}